<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bordspellen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bordspellen.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navBar">
            <div class="navContent">
                <a href="~/">
                    <img style="height: 100px" src="lib/Images/logo.png" alt="Logo" />
                </a>
                <a href="Login">
                    <p class="navItem">Evenementen</p>
                </a><a href="Search">
                    <p class="navItem">Catagoriën</p>
                </a><a href="Login">
                    <p class="navItem">Info</p>
                </a>

                <input style="transform:translateY(-5px)" class="roundSearch" type="text" />
                <img style="height:25px" src="lib/Images/search.png" />

                <a href="Login">
                    <p class="navItem">Inloggen</p>
                </a>

            </div>
        </nav>

    </header>
    <div class="main">
        @RenderBody()

    </div>

    <footer class="footerBar">
        <div class="footerContent">
            <p>footer</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>