@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="containerBody">
    <div class="containerBanner">
       <img class="banner" src="~/lib/Images/people2.jpeg" />
    </div>
    <div class="containerItems">
        aa
    </div>
</div>s
