@page
@model Bordspellen.Pages.Index1Model
@{
}

<div class="containerBody">
    <div class="login">
        <table class="loginTable">
            <tr>
                <td><h2 style="font-weight:bold">Inloggen</h2></td>
                <td></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" /></td>
            </tr>
            <tr>
                <td>Wachtwoord</td>
                <td><input type="password" /></td>
            </tr>
            <tr>
                <td class="textGreen">Nog geen account aangemaakt</td>
                <td><button class="loginButton">Inloggen</button></td>
            </tr>
        </table>
    </div>
</div>