@page
@model Bordspellen.Pages.Index1Model
@{
}

<div class="containerBody">
    <div class="login">
        <table class="accountTable">
            <tr>
                <td><h2 style="font-weight:bold">Inloggen</h2></td>
                <td></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" id="email"/></td>
            </tr>
            <tr>
                <td>Wachtwoord</td>
                <td><input type="password" id="password"/></td>
            </tr>
            <tr>
                <td> <a href="AccountCreation" style="text-decoration:none"><p class="textGreen">Nog geen account aangemaakt</p></a></td>
                <td><button class="accountButton">Inloggen</button></td>
            </tr>
        </table>
    </div>
</div>