
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html, body {
    height: 100%;
    width:100%;
    margin: 0;
    font-family: Verdana;
    background: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    width: 100%;
}

.roundSearch {
    border-radius: 10px;
    border: none;
}

.navItem {
    transition: all 0.3s ease; 
    padding:5px;
    margin: 10px;
    display:inline-block;
    color:white;
}

    .navItem:hover {
        transform: scale(1.1);
        background-color: white;
        border-radius: 10px;
        border: none;
        color: #619731;
    }


.navBar, .footerBar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    background: #619731;

}

.navContent {
    grid-column: 2;
    display: flex;
    align-items: center;
    min-height: 75px;
    color: white;

    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-column-gap:10px;
}



.footerContent {
    grid-column: 2;
    display: flex;
    align-items: center;
    min-height: 75px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background: #619731;
}


.containerBody {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.containerBanner {
    grid-column: span 3;
    grid-row: 1;
    overflow: hidden;
}

.containerContent {
    grid-column: 2;
    grid-row: 2;
}

.containerEventBlock {
    background: white;
    transform: translateY(-50px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 100px;
}

.containerItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

.containerItem {
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}


.containerCreateBlock {
    background: #619731;
    color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 200px;
    text-align: center;
}

.textGreen {
    color: #619731;
}

.roundButton {
    border-radius: 10px;
    border: none;
    color: #619731;
    padding: 10px;
}

.banner {
    width: 100%;
}

.eventImage{
    width:100%;
    height:200px;
    overflow:hidden;
    object-fit:cover;
}

.login {
    grid-column: 2;

    margin-top:10%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
}

.loginTable{
    width:100%;
}

.loginTable td{
    padding: 20px
}
